.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* Aspect ratio: 16:9 */
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.centered-flowchart {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
.feature-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}


.impact-section h5 {
  font-size: 25px !important;/* Match the size of other section titles */
 
}